{% extends "../base.html" %}
{% load mathfilters %}
{% load static %}
{% block title %}Cart Summary{% endblock %}
{% block content %}

<main class="pt-5 mt-3">
  <div class="container">
    <div>
      <button
      type="button"
      id="{{product.id}}"
      value="{{product.id}}"
      class="btn btn-secondary btn-lg btn-block mb-2"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal{{product.id}}"
    >
      Terms and Condition(Click here)
    </button>
    <!-- Modal -->
    <div
    class="modal fade text-left"
    id="exampleModal{{product.id}}"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title" id="exampleModalLabel">
            Terms and Condition
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <p class="card-text">
        <table class="table table-hover mt-3 text-center">
          <tbody >
          <tr>
              <td class="pb-0">Delivery available only in South India (Due to covid)</td>
          </tr>
          <tr>
              <td class="pb-0">Size and Cost is Mentioned bellow each Plant (Minimum order is 5 plants)</td>
          </tr>
          <tr>
              <td class="pb-0">Plants will be dispatched in within 2 days from payment done (Nearest Monday or Tuesday only)</td>
          </tr>
          <tr>
              <td class="pb-0">Plants will be sent bareroot</td>
          </tr>
          <tr>
              <td class="pb-0">Any Damage will be replaced with customers next order</td>
          </tr>
          <tr>
              <td class="pb-0">Only after payment order will be confirmed</td>
          </tr>
          <tr>
            <td class="pb-0">Plants will be dispatched by DTDC(preferably), Speed post or Professional.</td>
          </tr>
          <tr>
            <td class="pb-0">Add Plants to cart individually</td>
          </tr>
          <tr>
            <td class="pb-0">After adding to cart send the screenshot of your cart in Whatsapp to 7904050237</td>
          </tr>
          <tr>
            <td class="pb-0">Additional Shipping cost will be applicable depending on place.</td>
          </tr>
          <tr>
            <td class="pb-0">Payment and other details can be availed in Whatsapp</td>
          </tr>
          <tr>
            <td>
              <div class="d-flex justify-content-around pt-0" style="color: black;">
              <a href="https://wa.me/message/Z73MZA6IMYFWO1" target="_blank" class="fab fa-whatsapp-square pt-1"></a>            
              <a href="https://facebook.com/rosaryplanthouse" target="_blank" class="fab fa-facebook pt-1"></a>
              <a href="https://youtube.com/channel/UCUYHYgkyhoVXy5_h8a5ly6w" target="_blank" class="fab fa-youtube pt-1"></a>
              <a href="https://instagram.com/rosary_plant_house?igshid=ksp4zz9pj5lu" target="_blank" class="fab fa-instagram pt-1" style="color: rgba(0, 0, 0, 0.295);"></a>
            </div>
            </td>
          </tr>
          </tbody>
        </table>   
        </p>                   
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Agree
          </button>
          <form action="/basket/">
            <button type="submit" class="btn btn-success">
              Go to Cart
            </button>
          </form>
        </div>
      </div>
    </div>
    </div> 
    </div>
    <marquee behavior="scroll" direction="left" style="background-color: rgba(255, 255, 0, 0.589);">Please send a Screenshoot of this page in <strong>WhatsApp or Messager </strong> to proceed further.</marquee>
    {% if basket|length < 5 %}
    <div class="alert alert-primary text-center" role="alert">
      Please Add Atleast <strong>5</strong> items to cart
    </div>
    {% endif %}
    <div class="h4 p-1 mb-2 mx-0 bg-success text-center text-white">Shopping Cart</div>
    {% for item in basket %}
    {% with product=item.product %}
    <div data-index="{{product.id}}" class="row mb-1 border product-item">
      <div class="col-md-0 col-lg-10 ps-md-3 ps-lg-10">
        <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-reset">
          <h1 class="h6">{{product.pid}}. {{ product.title }} - <span class="h6 fw-bold">&#8377; {{ product.price }}</span> each</h1>
        </a>
              <table class="table table-hover">
                <tbody>
                <tr>
                  <th scope="row">
                    <div class="col-12">Qty:  {{item.qty}}</div>
                  </th>
                  <td>
                    Sub Total: {{item.qty|mul:product.price}}
                  </td>
                  <td>
                    <button type="button" id="update-button" data-index="{{product.id}}"
                    class="btn btn-outline-secondary btn-sm update-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{product.id}}" >
                    Update
                  </button>
                  <!--Modal-->
                  <div
                  class="modal fade"
                  id="staticBackdrop{{product.id}}" data-bs-backdrop="static"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                          Update {{ product.title }}
                        </h5>
                      </div>
                      <p class="card-text">
                        <a
                          class="text-dark text-decoration-none"
                          href="{{ product.get_absolute_url }}"
                          >{{ product.title }}</a
                        >
                      </p>
                      <div class="modal-body pb-0 mb-0">
                        <div class="text-center">
                          <label for="select">Chanege Qty: </label>
                          <select id="select{{product.id}}">
                            <option selected>
  {{item.qty}}
                            </option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                          </select>

                        </div>
                        <p class="pb-0 mb-2" style="background-color: rgba(255, 255, 0, 0.356);">Please click Update Value before going to cart</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" id="update-button" data-index="{{product.id}}"
                        class="btn btn-outline-secondary btn-sm update-button" >
                        Change Value
                        </button>
                        <form action="/basket/">
                          <button type="submit" class="btn btn-primary">
                            Go to Cart
                          </button>
                        </form>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                  </td>
                  <td>
                    <button type="submit" id="delete-button" data-index="{{product.id}}"
                      class="btn btn-outline-danger btn-sm delete-button">
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
    {% endwith %}
    {% endfor %}
    <div class="col-12 text-end">
      <h5 class="h6 fw-bold d-inline-flex">Total: &#8377;</h5><div id="subtotal" class="h6 fw-bold d-inline-flex"> {{basket.get_total_price}}</div>
    </div>
    <div class="alert alert-dark text-center" role="alert">
      Please send a Screenshoot of this page in <strong>WhatsApp or Messager </strong> to proceed further.
        </div>
  </div>
  <br>
  <br>
</main>
<script>
  // Delete Item
  $(document).on('click', '.delete-button', function (e) {
    e.preventDefault();
    var prodid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "basket:basket_delete" %}',
      data: {
        productid: $(this).data('index'),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        $('.product-item[data-index="' + prodid + '"]').remove();
        document.getElementById("subtotal").innerHTML = json.subtotal;
        document.getElementById("basket-qty").innerHTML = json.qty
      },
      error: function (xhr, errmsg, err) {}
    });
  })

  // Update Item
  $(document).on('click', '.update-button', function (e) {
    e.preventDefault();
    var prodid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "basket:basket_update" %}',
      data: {
        productid: $(this).data('index'),
        productqty: $('#select' + prodid + ' option:selected').text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        document.getElementById("basket-qty").innerHTML = json.qty
        document.getElementById("subtotal").innerHTML = json.subtotal
      },
      error: function (xhr, errmsg, err) {}
    });
  })

</script>

{% endblock %}